<!-- banner -->
<div class="banner d-flex justify-content-start align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-lg-9">
        <h1>
          Learn IT Skills based on<br>Gurukul education system.
        </h1>
        <div class="abbr mt-4">
          <h2 class="font-secondary text-white font-weight-lighter">
            Guru means teacher. <span class="d-block d-sm-inline">Kula means family.</span>
          </h2>
        </div>
        <div class="quote">
          <i class='bx bxs-quote-alt-left'></i>
          <h2 class="font-secondary">
            Respect leads to knowledge.
          </h2>
        </div>
      </div>
    </div>
    <div class="banner-actions">
      <a href="#" class="btn btn-primary px-4">Join Kula</a>
      <a href="#" class="btn btn-success px-4 ml-2">Join as Teacher</a>
    </div>
  </div>
</div>


