<!-- banner -->
<div class="banner d-flex justify-content-start align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-lg-8">
        <h1>
          Teaching IT Skills based on Gurukul education system.
        </h1>
        <div class="abbr mt-4">
          <h2 class="font-secondary text-white font-weight-lighter">
            Guru means teacher. <span class="d-block d-sm-inline">Kula means family.</span>
          </h2>
        </div>
        <div class="quote">
          <h3 class="font-secondary">
            ॐ सर्वे भवन्तु शिक्षितः। <span class="d-block d-sm-inline">(ॐ May all be educated.)</span>
          </h3>
        </div>
      </div>
    </div>
    <div class="banner-actions">
      <a href="#workshops" class="btn btn-primary px-2">Explore Workshops</a>
      <a href="#subscribe" class="btn btn-success px-2 ml-2">Subscribe</a>
    </div>
    <div class="banner-actions mt-3">
      <a href="#kulas" class="btn btn-light px-5">Available KULAS</a>
    </div>
  </div>
</div>


