<!-- banner -->
{% assign banner = site.data.home.banner %}
<div class="banner d-flex justify-content-start align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-lg-9">
        <h1>
          Learn IT Skills based on<br>Gurukul education system.
        </h1>
        <div class="quote">
          <i class='bx bxs-quote-alt-left'></i>
          <h2 class="font-secondary">
            Respect leads to knowledge.
          </h2>
        </div>
      </div>
    </div>
    <div class="banner-actions">
      <a href="#" class="btn btn-primary px-4">Start Booking</a>
      <a href="#" class="btn btn-danger px-4 ml-2">View Offers</a>
    </div>
  </div>
</div>


