<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="row">
        <div class="col-md-4 col-12 footer-column">
          <div class="logo-widget footer-widget">
            <div class="footer-title">ABOUT</div>
            <div class="description">
              <p>
                {{ site.description }}
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-12 offset-md-1 footer-column">
          <div class="service-widget footer-widget">
            <div class="footer-title">QUICK LINKS</div>
            <ul class="list pl-0">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/donate">Donate</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-12 footer-widget">
          <div class="contact-widget footer-widget">
            <div class="footer-title">CONTACTS</div>
            <div class="text">
              <a href="https://goo.gl/maps/76FbQzjHeGwNq5aT6" target="_blank">
                <p>
                  <i class='bx bxs-map' ></i>
                  <span>Kathmandu, Nepal - 44618</span>
                </p>
              </a>
              <a href="tel:+977 9841592361">
                <p>
                  <i class='bx bx-phone' ></i>
                  <span>+977 0123456789</span>
                </p>
              </a>
              <a href="mailto:budhram.gurung01@gmail.com" target="_blank">
                <p>
                  <i class='bx bx-mail-send' ></i>
                  <span>budhram.gurung01@gmail.com</span>
                </p>
              </a>
            </div>

            <ul class="footer-social pl-0 mb-0">
              <li>
                <a href="https://www.facebook.com/#" target="_blank"><i class='bx bxl-facebook'></i></a>
              </li>
              <li>
                <a href="https://twitter.com/#" target="_blank"><i class='bx bxl-twitter' ></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/#" target="_blank"><i class='bx bxl-linkedin' ></i></a>
              </li>
              <li>
                <a href="https://github.com/itgurukula" target="_blank"><i class='bx bxl-github' ></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-12">
        <div class="copyright text-center">{{ site.title }} © 2021. All Right Reserved.</div>
      </div>
    </div>
  </div>
</div>
