<section id="kulas" class="kulas section-padding">
  <div class="container">
    <div class="section-header text-center mb-5">
      <h1 class="section-title mb-0">Our Kulas</h1>
      <p class="mb-0 font-secondary">
        Fostering Collaboration and Self Learning
      </p>
    </div>
    <div class="row justify-content-center align-items-center">
      {% for kula in site.data.kulas limit: 4 %}
        {% include home/workshop-card.html workshop=kula %}
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <a href="/kulas/" class="btn btn-danger border-rounded px-4">View All Kulas</a>
    </div>
  </div>
</section>
